html { 
	background-image:   url(29-a.png),url(37-a.png), url(53-a.png) ;
}
body{
	background: url(img/bg.png) no-repeat top center; 
	min-height: 450px;
	font-family: Arial, Trebuchet MS, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
#allwrap{
	width:980px;
	margin: 0px auto 10px auto;
	padding: 0;
	border:1px solid;
}
#logo{
	float:left;
	border:solid 1px;
	margin-top:50px;
	margin-left:100px;
}
#headright{
	float:right;
	margin-top:70px;
	margin-right:10%;
	
}
.clr{
	clear:both;
}
#topmain{
	font-family: Times New Roman, Arial, Century Gothic, Verdana, sans-serif;
	font-weight: bold;
	height: 32px;
	
	
}
#topm{
	padding-left:60px;
}

.main-menu a{
    display:block;
    padding:8px 14px;
    margin-bottom:-1px;
    text-decoration:none;
    border:1px solid #E5E5E5;
}
.main-menu{
    width:180px;
    padding:0;
    margin-top:40px;
    list-style:none;
    float: left;
}

.image-set{
	text-align:center;
        margin-right: 20px;
        margin-left: 20px;
}
a img{
    padding:5px;
    width:150px;
}
#gallery{
    text-align: center;
    
}
#gallery img {
    max-width: 600px;
}


.green{background:#6AA63B url('img/green-item-bg.jpg') top left no-repeat;}
.yellow{background:#FBC700 url('img/yellow-item-bg.jpg') top left no-repeat;}
.red{background:#D52100 url('img/red-item-bg.jpg') top left no-repeat;}
.blue{background:#0292C0 url('img/blue-item-bg.jpg') top left no-repeat;}